<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div class="wrapper">
      <form  method="POST">
        <div class= "gameBox">
          <div class ='fields'>
            <input type="text" name="userEntrey" placeholder = "Guess a Letter"/>
            <button type = "submit">Take a guess</button>
          </div>
          <div class ='guessBox'>
          <ul style="list-style-type:none">
            <div class = 'guess'>
              {{ #userGuess }}
                <li>  {{ . }} </li>
              {{ /userGuess }}
            </div>
          </ul>
        </div>
          <div class = 'guessCounter'>
            <h3> {{ guessLeft}}</h3>
          </div>
        </div>
      </form>
      <div class = 'result'>
        {{ #result}}
        <h1> {{.}} </h1>
          {{ /result }}
      </div>
      <div class = wordDisplay>
        <ul style="list-style-type:none">
        <div id= "correctLetter">
        {{ #randomWord }}
          <li>{{ . }}</li>
        {{ /randomWord}}
      </div>

      </ul>
      </div>
    </div>
  </body>
</html>
